 html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #111111;
  color: #F5F5F5;
}

/* HERO SECTION */
.hero {
  height: 100vh;
background: 
  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.6)),
  url('../terraza.jpg') center/cover no-repeat;
background-position: center 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 25px;
}

.btn {
  padding: 12px 30px;
  background: #C6A75E;
  color: #111;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}
.reserva h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.reserva p {
  opacity: 0.7;
}

input, select, textarea {
  background: #2a2a2a;
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  border: 1px solid #C6A75E;
}
form {
  background: #1f1f1f;
  padding: 30px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

form input,
form select,
form textarea {
  width: 100%;
}

form textarea {
  grid-column: span 2;
}

form button {
  grid-column: span 2;
}
